
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    font-size: 40px;
    
}

img {
    width: 700px;
    display: block;
    margin: auto;
    margin-block: 20px;
}

a {
    color: rgb(27, 17, 17);
    text-decoration: solid;
}

.content {
    margin-inline-start: 50px;
}
span{
    font-weight: bold;
    line-height: 50px;
}
li {
    margin-inline-start: 30px;
}
ul{
    line-height: 25px;
}
